# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
x=[1,2,3,4]
print(x)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
x.remove(3)
print(x)

[1, 2, 4]

In [3]:
# Method 2
a=[1,2,3,4]
a.pop(2)
print(a)

[1, 2, 4]

In [2]:
# Method 3
l=[1,2,3,4]
del l[2]
print(l)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [3]:
lst=[2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [5]:
lst.insert(2,"two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
# CODE HERE

*convert into list*

In [6]:
phrase="Dont panic!"
list(phrase)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [9]:
phrase="dont panic!"
list=phrase.split()
list

['dont', 'panic!']

`Question:` Remove ** '** and **!** in the list

In [42]:
phrase="Dont panic!"
l=list(phrase)
del l[4]
del l[-1]
print(l)

['D', 'o', 'n', 't', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [44]:
# CODE HERE
print(l)
del l[4:7]
del l[0]

['o', 'n', 't', 'i', 'c']

In [2]:
a=['o','n','t','i','c']
b=['p','a','n','D']
a.extend(b)
print(a)

['o', 'n', 't', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE

In [2]:
list=['p','a','n','D','a']
print("".join(list))

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [3]:
num=(31,24,35,85)
print(num)

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [4]:
num=(31,24,35,85)
l=list(num)
print(l)
del l[2]
print(l)
a=tuple(l)
print(a)

[31, 24, 35, 85]
[31, 24, 85]
(31, 24, 85)

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [7]:
t=(31,24,85)
t1=(85,19)
l=list(t)
l.extend(t1)
print(l)
print(tuple(l))

[31, 24, 85, 85, 19]
(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [ ]:
# CODE HERE

In [1]:
tpl=("i","n","n","O")
if "i" in tpl:
    print("found")
else:
    print("not found")

found

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [ ]:
# CODE HERE

In [13]:
list=["Hello",100,[],'innomatics']
list2=(list[2])
list2.insert(0,20)
print(list2)
print(list)

[20]
['Hello', 100, [20], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [4]:
# CODE HERE
tpl = ("innomatics")
l=list(tpl)
l.sort(reverse=True)
print(l)
print("".join(l))

['t', 's', 'o', 'n', 'n', 'm', 'i', 'i', 'c', 'a']
tsonnmiica

In [4]:
tpl=("Innomatics")
s=str(tpl)
print(s)
print(s[-1::-1])

Innomatics
scitamonnI

In [7]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:3]+(100,)for t in tpl])

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [7]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x=len(tpl)
print(x)
for i in range(0,len(tpl)):
    a=list(tpl[i])
    a.append(100)
    tpl[i]=tuple(a)

    
tpl

3

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [9]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
l=list(tpl)
print(l)

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [13]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x=len(tpl)
print(x)
for i in range(0,len(tpl)):
    a=list(tpl[i])
    a[-1]=100
    tpl[i]=tuple(a)
print(tpl)

3
[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [11]:
# CODE HERE
str=input("enter the string")
s=set(str)
l=list(s)
l.sort()
print(l)
print("second largest value is :",l[-2])

enter the string523665
['2', '3', '5', '6']
second largest value is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
# CODE HERE

In [2]:
l=[12,24,35,70,88,120,155]
[l[i] for i in range(0,len(l)) if i not in (0,4,5)]

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [22]:
t=(1,2,3,4,5,6,7,8,9,10)
l=list(t)
l1=l[0:5]
l2=l[5::]
print(tuple(l1),"\n",tuple(l2))

(1, 2, 3, 4, 5)
 (6, 7, 8, 9, 10)

In [8]:
l=[]
for t in range(1,11):
    
    l.append(t)
    if t==5:
        break
print(tuple(l))
l2=[]
while

(1, 2, 3, 4, 5)

In [7]:
l=[]
for t in range(1,11):
    l2=[]
    while t<=5:
        l2.append(t)
        print(tuple(l2))
        break
        t=t+1
        
    if t>5:
        l.append(t)
        continue
print(tuple(l))

(1,)
(2,)
(3,)
(4,)
(5,)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [24]:
tpl=(1,2,3,4,5,6,7,8,9,10)
l=list(tpl)
l2=[]
for y in l:
    if y%2==0:
        l2.append(y)
tpl2=tuple(l2)
tpl2

(2, 4, 6, 8, 10)

In [9]:
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [9]:
l=[i for i in range (1,11) if i%2==0]
print(tuple(l))

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
list and tuple both are collection data type only difference is that list is mutable where as tuple is immutable
ie can not add ,replace or remove the elements

### 2. Explain the difference between append() and extend() with examples

In [ ]:
append and extend both are used to insert data at the end 
append takes single element where as extend take sequential data
l.append("a")
l.extend([4,5,6]) where l is a list

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution
both are used to delete the data
pop()takes index value to remove and it shows whichone has to be deleted--l.pop(index)
remove() takes element to delete-- -l.remove(element)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)