# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [3]:
# CODE HERE
s={1,2,'innomatics','hub'}
s

{1, 2, 'hub', 'innomatics'}

In [4]:
s=set((1,2,"innomatics","hub"))
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [5]:
# CODE HERE
s.add("technology")
s

{1, 2, 'hub', 'innomatics', 'technology'}

In [6]:
s=set((1,2,"innomatics","hub"))
l=list(s)
l.insert(2,"Technology")
con_set=set(l)
print(con_set)

{1, 2, 'innomatics', 'hub', 'Technology'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [ ]:
# CODE HERE

In [7]:
sc={3,4,"Technology","hub"}

In [23]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [8]:
# CODE HERE
s

{1, 2, 'hub', 'innomatics'}

In [11]:
sc

{3, 4, 'Technology', 'hub'}

In [26]:
s-sc

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [21]:
s={1,2,"hub","Technology","innomatics"}
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [22]:
# CODE HERE
s.remove(2)
s

{1, 'Technology', 'hub', 'innomatics'}

In [23]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [24]:
# CODE HERE
s

{1, 'Technology', 'hub', 'innomatics'}

In [20]:
sc

{3, 4, 'Technology', 'hub'}

In [25]:
s2=s.intersection(sc)
s2

{'Technology', 'hub'}

In [26]:
s.intersection(sc)

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [27]:
# CODE HERE
s.union(sc)

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

In [28]:
S=s.union(sc)
S

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [31]:
# CODE HERE
fruits={"apple","orange","kiwi"}
colors=["orange","red","green"]

In [32]:
fruits

{'apple', 'kiwi', 'orange'}

In [33]:
colors

['orange', 'red', 'green']

In [34]:
fruits.update(colors)

In [35]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [3]:
# CODE HERE
set1={10,20,30,40,50}
print(set1)
l=list(set1)
del l[0:3]
s=set(l)
print(s)

{50, 20, 40, 10, 30}
{10, 30}

In [1]:
l=[10,20,30,40,50]
del l[0:3]
print(l)
s=set((l))
print(s)

[40, 50]
{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)