# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [3]:
# CODE HERE
person1={
    "Name":"John",
    "Gender":"Male",
    "Occupation":"Data Scientist",
    "location":"Nizampet Hyderabad"
}

In [4]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'location': 'Nizampet Hyderabad'}

> print keys in person1 as a list

In [7]:
# CODE HERE
l=[]
for y in person1:
    if person1.keys():
        l.append(y)
print(l)

['Name', 'Gender', 'Occupation', 'location']

In [5]:
person1.keys()

dict_keys(['Name', 'Gender', 'Occupation', 'location'])

> **`Question:` Remove Location in person1**

In [7]:
# CODE HERE
person1
del person1["location"]
print(person1)

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

In [10]:
dict={
    "Age":27,
    "Gender":"Male",
    "Name":"Srikanth",
    "Occupation":"Data scientist"
}

In [11]:
dict

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [12]:
person2={
    "Age":25,
    "Gender":"Male",
    "Name":"Raghu Ram",
    "Occupation":"Data scientist"
}

In [13]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data scientist'}

> **`Question:` Print the output as show below**

In [22]:
# CODE HERE
x=("===============person1=================")

In [28]:
x1={"Name":"John","Gender":"Male","Occupation":"Data Scientist"}

In [29]:
y=("===============person2=====================")

In [30]:
y1={"Name":"RaghuRam","Gender":"Male","Age":25,"Occupation":"Data Scientist"}

In [31]:
print(x,x1,y,y1,sep="\n")

===============person1=================
{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}
===============person2=====================
{'Name': 'RaghuRam', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [36]:
# CODE HERE
D={1:1,2:4,3:9,4:16,5:25,6:36,7:49}
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [37]:
del D[6]
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 7: 49}

In [38]:
D.pop(1)
print(D)

{2: 4, 3: 9, 4: 16, 5: 25, 7: 49}

In [39]:
D.clear()
print(D)

{}

In [40]:
print(D)

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [26]:

l=[[i,i**2] for i in range(1,10,2)]
l.sort(reverse=True)

D1=dict(l)
print(D1)

D={0:0}
D1.update(D)
print(D1)

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1}
{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

In [11]:
# CODE HERE
d={0:0,1:1,3:9,5:25,7:49,9:81}

In [6]:
k=list(d.keys())
v=list(d.values())
k1=[]
v1=[]
for i in range(len(k)-1,0,-1):
    k1.append(k[i])
    v1.append(v[i])
d={}
for i in range(0,len(k1)):
    d[k1[i]]=v1[i]
    
d

{9: 81, 7: 49, 5: 25, 3: 9}

In [19]:
k=list(d.keys())
k.sort(reverse=True)
print(k)

[9, 7, 5, 3, 1, 0]

In [20]:
v=list(d.values())
v.sort(reverse=True)
print(v)

[81, 49, 25, 9, 1, 0]

In [22]:
D=dict(zip(k,v))
print(D)

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE

In [10]:
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
dict3={"c":5,"d":6}

In [12]:
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [13]:
dict1.update(dict3)
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [9]:
# CODE HERE
sample_dict={
    'emp1':{'name':"Johny","salary":7500},
    'emp2':{"name":"Ravi","salary":8000},
    'emp3':{"name":"Charan","salary":6500}
}

In [10]:
sample_dict["emp3"]["salary"]=8500

In [11]:
sample_dict

{'emp1': {'name': 'Johny', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [1]:
# CODE HERE
sampleDict ={
    "class":{
        "student":{
            "name":"Mike",
            "marks":{
                "physics":70,
                "history":80
            }
        }
    }
}

sampleDict["class"]["student"]["marks"]["history"]

80

In [ ]:
for x,y in enumerate(sampleDict):
    if x ='physics':

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [8]:
# CODE HERE
d={
    "Gender":":male",
    "Location":"Nizampet,Hyderabad",
    "Name":"John",
    "Occupation":"Data scientist"
}

In [9]:
d

{'Gender': ':male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'John',
 'Occupation': 'Data scientist'}

In [10]:
del d["Location"]

In [11]:
d["Area"]="Nizampet,hyderabad"

In [13]:
d

{'Gender': ':male',
 'Name': 'John',
 'Occupation': 'Data scientist',
 'Area': 'Nizampet,hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [20]:
database={"ram":1234,"raghu ":5678,"kanav":1357}
username=database.keys()
pasword=database.values()

In [3]:
a={}
n=int(input("enter the number of elements"))
for i in range(n):
    k=input("enter the keys")
    v=int(input("enter the values"))
    a.update({k:v})
print(a)

enter the number of elements1
enter the keysheena
enter the values9876
{'heena': 9876}

In [14]:
user_name=a.keys()
pass_word=a.values()

In [11]:
for k,v in database.items():
    for k1,v1 in a.items():
        
        if k==k1 and v==v1:
            print("hello")
            continue
        else:
            x=input("username and database doesnot match \n you want me to add into database")
            if x == 'y':
                z=database.update({a})
                #print(z)
            else:
                print(database)
            break
    break    
print(z)

username and database doesnot match
 you want me to add into databasey

TypeError: unhashable type: 'dict'

In [31]:
x=input("enter the name")
y=int(input("enter the value"))
if database.keys !=x and database.values !=y:
    print("user name and data base doesnot match\n u want me to add to database")
    user=input("enter yes or no :")
    if user=="yes":
        database.update({x:y})
    else:
        print()
else:
    print("hello")
print(database)

enter the nameheena
enter the value9876
user name and data base doesnot match
 u want me to add to database
enter yes or no :yes
{'ram': 1234, 'raghu ': 5678, 'kanav': 1357, 'heena': 9876}

In [15]:
database.update(a)
database

{'ram': 1234, 'raghu ': 5678, 'kanav': 1357, 'heena': 9876}

In [6]:
database.get("ram")

1234