# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [3]:
#CODE HERE
min=int(input("enter the minutes"))
if min%2 !=0 :
    print("minute :",min,"\n this is an odd minute" )

enter the minutes53
minute : 53
 this is an odd minute

In [3]:
import datetime as D
x=D.datetime.now()
m=x.strftime("%M")
print(m)
M=int(m)
if int(M%2)==0:
    print("this is an even minute")
else:
    print("this is an odd minute")

28
this is an even minute

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [12]:
#CODE HERE

Today is : Sunday
Take Rest.

In [2]:
str=input("enter the day of week")
if str=="saturday":
    print(" today is:",str, "\n party !!!")
elif str=="sunday":
    print("take rest")
else:
    print("work work work")

enter the day of weeksaturday
 today is: saturday
 party !!!

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [10]:
#CODE HERE
l=[]
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        l.append(i)
print(l,sep=",")

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [6]:
x=[i for i in range(2000,3200) if i%7==0 and i%5!=0]
print(x)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [3]:
#CODE HERE
i=int(input("Enter the value to compute the factorial : "))
fact=1
while i>0:
    fact=fact*i
    i=i-1
print("8! = ",fact)

Enter the value to compute the factorial : 8
8! =  40320

In [29]:
n=8
fact=1
l=[]
while n>=1:
    fact=fact*n
    n=n-1
    l.append(n)
print(l)    
print("8! = ",fact)

[7, 6, 5, 4, 3, 2, 1, 0]
8! =  40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [16]:
#CODE HERE

Enter the value: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [12]:
n=int(input("enter the value: "))

x = [[i,i**2] for i in range(1,n+1)]

d = dict(x)
d

enter the value: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [10]:
def calc(a,b,opr):
    if opr=="add":
        return a+b
    elif opr=="sub":
        return a-b
    elif opr=="mul":
        return a*b
    elif opr=="div":
        return a/b 
    elif opr=="pow":
        return a**b
    else:
        return "invalid operator"
x=int(input("enter the value :"))
y=int(input("enter the value :"))
sign=input("enter the keyword {add,sub,mul,div,pow} :")

calc(x,y,sign)

enter the value :8
enter the value :6
enter the keyword {add,sub,mul,div,pow} :pow

262144

In [18]:
#CODE HERE

Please enter the value : 8
Please enter the value : 6
Enter the keyword {add, sub, mul, div, pow}:pow
==============================
Power of 8 by 6 is : 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [4]:
word=input("enter the text : ")
count=0
cnt=0
for i in word:
    if i.isdigit():
        count=count+1
    elif i.isalpha():
        cnt=cnt+1
print("digit =",count)
print("letters = ",cnt)

enter the text : Hello321Bye360
digit = 6
letters =  8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [9]:
# METHOD - 1
t=(1,2,3,4,5,6,7,8,9,10)
t1=t[0:5]
t2=t[5::]
print(t1,t2,sep="\n")

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [10]:
# METHOD - 2
print(t1,t2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [15]:
tpl=(1,2,3,4,5,6,7,8,9,10)
l=list(tpl)
l1=[]
l2=[]
for i in l[0:5]:
    l1.append(i)
for i in l[5::]:
    l2.append(i)
print(l1,l2,sep="\n")

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [17]:
l=[a for a in range(1,11) if a%2==0]
print(tuple(l))

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [19]:
text = input("Please type something. --> ")
if text==("yes" or "YES" or "Yes"):
    print("Yes")
else:
    print("No")

Please type something. --> yes
Yes

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [30]:
import random
l=random.sample(range(100,200),5)
print(l)

[148, 159, 115, 164, 198]

In [33]:
import random
print(random.sample(range(0,99),10))

[89, 19, 92, 78, 25, 91, 58, 54, 79, 31]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [34]:
import random as R
print(R.uniform(5,95))

81.37496991156905

In [35]:
print(R.uniform(1,10))

2.2116373096948805

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [36]:
l=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
s=set(l)
s

{1, 3, 4, 5, 6, 7, 8}

In [4]:
l=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]

In [7]:
d={}
for i in l:
    count=l.count(i)
    d[i]=count

In [8]:
count

3

In [9]:
d

{1: 4, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 3}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [5]:
import pandas as pd
a = pd.Series(l).value_counts()
print(a)

1    4
4    3
8    3
3    2
5    1
6    1
7    1
dtype: int64

In [7]:
d ={}
for i in l:
    count = l.count(i)
    d[i] = count
print(d)

{1: 4, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 3}