# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [0]:
def vol(rad):
    # code here

In [3]:
def vol(rad):
    
    pi=3.147
    volume=4/3*pi*(rad**3)
    print("volume =",volume)

In [4]:
vol(5)

volume = 524.5

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [0]:
def ran_check(num,low,high):
    # code here

In [3]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(num ,"is in range")
    else:
        print(num ,"is not in range")

In [4]:
ran_check(8,1,20)

8 is in range

If you only wanted to return a boolean:

In [0]:
def ran_bool(num,low,high):
    # code here

In [32]:
def ran_bool(num,low,high):
        if num in range(low,high+1):
            print(True)
            
        else:
            print(False)

In [33]:
ran_bool(11,1,10)

False

In [34]:
(ran_bool(10,1,10))

False

In [35]:
ran_bool(3,1,10)

True

In [27]:
def ran_l(num,low,high):
    if num in range(low,high):
        print(bool(num))
    else:
        
        print("not in range")

In [28]:
ran_l(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [0]:
def up_low(s):
    # code here

In [4]:
def up_low(s):
    count=0
    cnt=0
    for i in s:
        
        if i.isupper():
            count=count+1
        
        elif i.islower():
            cnt=cnt+1
        
    print("No.of upper case characters : ",count)
    print("No. of lower case character : ",cnt)

sample_string=input("enter the statement")
up_low(sample_string)

enter the statementHello Mr.Rogers, how are you this fine Tuesday?
No.of upper case characters :  4
No. of lower case character :  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [0]:
def unique_list(l):
    # code here

In [5]:
def unique_list(*l):
    s=set(l)
    print(list(s))
    
unique_list(1,1,1,1,2,2,3,3,3,3,4,5)

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [0]:
def multiply(numbers):  
    # code here

In [15]:
def multiply(num):
    mul=1
    for i in num:
        mul=mul*i
    return mul
    
multiply([1,2,3,-4])

-24

In [0]:
multiply([1,2,3,-4]) *

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [0]:
def palindrome(s):
    # code here

In [37]:
def palindrome(s):
    R=s[::-1]
    if s==R:
        print(bool(s))
        print(s,"is a palindrome")
    else:
        print(s,"is not a palindrome")

In [38]:
palindrome("madam")

True
madam is a palindrome

In [39]:
palindrome('helleh')

True
helleh is a palindrome

## Given a number N.Find Sum of 1 to N Using Recursion

In [2]:
# CODE HERE
def summation(n):
 #Code here


n = int(input())
sum = summation(n)
print(sum)

10
55

In [40]:
def summation(n):
    global s
    s=0
    for i in range(n+1):
        s=s+i
    print(s)
n=int(input())    
sum=summation(n)

10
55

In [41]:
def summation(n):
    if n <=1:
        return n
    return n +summation(n-1)
a= int(input())
summation(a)

10

55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [13]:
def printList():
    l=[]
    for i in range(1,21):
        l.append(i*i)
    print(l)
    
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [17]:
def printList():
    x=[i*i for i in range(1,21)]
    print(x)
    
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [25]:
def printDict():
    x= [[i,i*i] for i in range(1,21)]
    d=dict(x)
    
    print(d.keys())
    
printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [7]:
def printdict(n):
    p=[[i,i*i] for i in range(n+1)]
    Q=dict(p)
    
    print(Q.keys(),Q.values(),sep="\n")
    
printdict(20)

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
dict_values([0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [26]:
a = "innomatics research labs"
b =a.split()
c =b[0]
len(c)

10

In [43]:
def display(x):
    
    
    l=x.split()
    x = l[0]
    y = l[1]
    z = l[2]
    for i in l:
        print( x ,len(x),"\n",y,len(y),"\n",z,len(z))
        break

display("innomatics research labs")

innomatics 10
 research 8
 labs 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [1]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here

print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
list(map(lambda x:x**2,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [2]:

def even(x):
#Code here


def squer(x):
    #Code here


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

In [24]:
l=list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))
print(l)

[2, 4, 6, 8, 10]

In [26]:
list(map(lambda a:a**2,[2,4,6,8,10]))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [3]:
# CODE HERE
def even(x):
#code here


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
def even(x):
    return x %2 == 0

evenNumbers=filter(even,range(1,21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [4]:
def f(n):
# Code here


n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

In [3]:
def f(n):
    if n>1:
        return f(n-1)+f(n-2)
    else:
        return n
n=int(input("enter n value"))
print(f(n))

enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)