# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE
print("my name ie Innomatics")

my name ie Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
variable is a container whivh holdw the value,
variables are nothing but reservrd memory locations to store values,ie when we create variable we reserve some spaces in
the memory
variables can be defined with alphabets,alphanumeric and one special character "_"
can not be defined with like innitialised with a digit followed by alphabet(1a,2b,etc) and special characters

In [2]:
# Code Here
a=10
b="hello"

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [3]:
# CODE HERE
w=17
h=12.0
print("width/2 = ",w/2)
print("width/2.0 = ",w/2)
print("height/3 = ",h/3)
print(1+(2*5))
print("."*5)

width/2 =  8.5
width/2.0 =  8.5
height/3 =  4.0
11
.....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE

In [4]:
a=100
b=200
print("first number is : ",a)
print("second number is : ",b)
print("Addition of 2 numbers are :",a+b)

first number is :  100
second number is :  200
Addition of 2 numbers are : 300

> `Question:` Add your first name and second name

In [9]:
# CODE HERE

In [5]:
f_name="Sachin"
s_name="Tendulkar"
print("my first name is :",f_name)
print("my second name is :",s_name)
print("my full name is :",f_name,s_name)

my first name is : Sachin
my second name is : Tendulkar
my full name is : Sachin Tendulkar

In [7]:
f_name="Sachin"
s_name="Tendulkar"
print("my first name is :",f_name)
print("my second name is :",s_name)
print("my full name is {} {}".format(f_name,s_name))

my first name is : Sachin
my second name is : Tendulkar
my full name is Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [16]:
# CODE HERE
a=10

In [17]:
print(type(10))
print(type('10'))
print(type(True))
print(type(10.5))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [14]:
# CODE HERE

In [18]:
n=123
str="456"
S=int(str)
print("Addition of 123 and 456 is :",n+S)

Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [19]:
# CODE HERE
#Volume of sphere with with radius r=5
r=5
pi=3.147
v=4/3*pi*r*r*r
print("Volume of sphere of radius 5 =",v)

Volume of sphere of radius 5 = 524.4999999999999

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [1]:
bp=24.95
disc=40
p1=bp*60/100
print("price of 1 copy after discount is ",p1)
sp=3
p2=p1+sp
print("price of 1 copy with shipping is",p2)
p3=(p2+.75)*59
print("price of remaining 59 copies is ",p3)
print("wholesale cost of all copies",p2+p3)

price of 1 copy after discount is  14.97
price of 1 copy with shipping is 17.97
price of remaining 59 copies is  1104.48
wholesale cost of all copies 1122.45

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)